body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
}
.game{
    background-color:#1a1a1a;
    padding:30px 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 234, 255 ,0.2);
    text-align: center;
    width: 400px;
}
.game:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0,0,0.3);
    transition: transform 0.3s; box-shadow:0.3s;
    cursor: pointer;
}
.game h1 {
    color:#00eaff;
    margin-bottom: 20px;
    text-align: center;
}
#guessInput{
    width:100px;
    padding:10px;
    font-size:16px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}