body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(121, 45, 121);
}
.game{
    background-color:plum;
    padding:30px 40px;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(0,0,0.3);
    text-align: center;
    width: 400px;
}
.game:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0,0,0.3);
    transition: transform 0.3s; box-shadow:0.3s;
    cursor: pointer;
}
.game h1 {
    color:black;
    margin-bottom: 20px;
    text-align: center;
}
#guessInput{
    width:100px;
    padding:10px;
    font-size:16px;
    margin-bottom: 15px;
    border-radius: 16px;
    border: 1px solid #999;
}
button{
    padding: 20px;
    font-size: 20px;
    margin: 5px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color:#f2f2f2;
    color: purple;
    transition: background-color 0.3s;
}
button:hover{
    background-color: black;
    color: palevioletred;
}
#feedback{
    margin: 5px 0;
    font-weight: bold;
    color:#555;
}
#attempts{
    font-weight: 600;
}